extends index

block content
  div.content.main
    div.content-left
      p.header.post-header 笔记
      - for(var i in posts){
      - var post = posts[i]
      include components/post-comment
      -}
    div.content-left
      p.header.post-header 问题
      - for(var i in problems){
      - var problem = problems[i]
      include components/problem-comment
      -}